<div class="page-header">
  <%= link_to stories_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_story_path(@story), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show story</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @story.title %></dd>

  <dt>Link:</dt>
  <dd><%= @story.link %></dd>

  <dt>Email:</dt>
  <dd><%= @story.created_by.email %></dd>
</dl>

<h2>Comments</h2>
<% @story.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@story, @story.comments.build]) do |f| %>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
